<ng-template [ngIf]="menu">
  <li
    *ngIf="menu.children && menu.children.length"
    nz-submenu
    [nzTitle]="menu.menuName"
    nzIcon="appstore"
  >
    <ul>
      <app-menu-item
        *ngFor="let child of menu.children"
        [menu]="child"
      ></app-menu-item>
    </ul>
  </li>
  <li
    *ngIf="!menu.children || !menu.children.length"
    nz-menu-item
    [routerLink]="[menu.url]"
  >
    <span nz-icon nzType="mail"></span>
    <span>{{ menu.menuName }}</span>
  </li>

</ng-template>
