:host {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.ant-layout-header {
  padding: 0;
}

.ant-menu.ant-menu-inline-collapsed .ant-menu-submenu > .ant-menu-submenu-title {
  left: 0;
  padding: 0 calc(50% - 16px / 2);
  text-overflow: clip;
}
