button {
  outline: none;
}

.login-box {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: -48%;
    background-image: url(../../../assets/logo/login-bg.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    content: "";
  }

  .login-container {
    width: 85%;
    padding: 2rem;
    display: flex;

    .login-description {
      flex-basis: 50%;
      flex-shrink: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .login-name {
        color: #ffffff;
        margin-top: 2rem;
        font-size: 1.4rem;
      }

      .login-box-bg {
        width: 50%;
      }
    }
  }
}

.card-box {
  flex-basis: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-box {
    position: relative;
    padding: 1.5rem;
    width: 50%;
    background: #fff;
    z-index: 1;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem;

    .login-title {
      text-align: center;
    }

    .login-form {
      width: 100%;

      mat-form-field {
        width: 100%;
      }

      .login-form-button {
        background-image: linear-gradient(90deg, #6d69fe 0, #48a0fa) !important;
        border: none;
        margin-top: .2rem;
        width: 100%;
        color: #fff;
        background-color: #2395f1;
        text-align: center;
        cursor: pointer;
        padding: .375rem .75rem;
        font-size: .9rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        -moz-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
      }

    }
  }

  .forget-password {
    margin-bottom: .5rem;
    cursor: pointer;

    &:hover {
      color: #007fff;
    }
  }

  .register-btn {
    margin-top: 1rem;
  }

}

:host ::ng-deep {
  .mat-raised-button {
    line-height: 28px;
  }
}
