.head {
  padding-top: 72px;
  padding-bottom: 40px;

  .logo {
    width: 44px;
    height: 44px;
    margin-right: 16px;
  }

  .title {
    font-size: 33px;
    font-weight: 600;
  }
}


.login-form-wrap {
  width: 368px;
  margin: 0 auto;
  @media screen and (max-width: 375px) {
    padding: 0 15px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}
