<div class="tab-list-container">
  <div class="tab-list">
    <div class="tab-wrap">
      <div class="nav-list">
        <div class="nav-list-item active">
          <span class="nav-list-item-text">查询表格</span>
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </div>

        <div class="nav-list-item">
          <span class="nav-list-item-text">查询表格</span>
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-list-fill"></div>
