<div class="article-preview-bg">
  <div
    *ngIf="article"
    class="article-preview-container"
    [class.block]="!tocMenu.length"
  >
    <div class="left-container" [class]="{ 'no-toc-menu': !tocMenu.length }">
      <div class="article-title-box">
        <h2 class="article-title">{{ article.articleTitle }}</h2>
        <div class="article-info">
          <div>
            <span nz-tooltip="" nzTooltipTitle="最后更新时间">最后更新时间: {{ article.lastUpdateTime | date : 'YYYY-MM-dd HH:mm:ss' }}</span>
          </div>
        </div>
      </div>
      <h-preview
        class="article-preview"
        [value]="article.articleValue"
        (tocMenu)="setTocMenu($event)"
        (click)="clickHandle($event)"
        (copySuccess)="copySuccess()"
      ></h-preview>
    </div>
    <div
      *ngIf="tocMenu.length"
      class="right-container"
    >
      <div class="toc-container">
        <div class="toc-title">
          <h2>目录</h2>
        </div>
        <div class="toc-menu-container">
          <app-toc-menu [tocMenu]="tocMenu"></app-toc-menu>
        </div>
      </div>
    </div>
  </div>
</div>
