.article-preview-container {
  max-width: 1280px;
  display: flex;
  position: relative;
  margin: 16px auto 0 auto;

  .left-container {
    max-width: 970px;
    flex: 1;

    &.no-toc-menu {
      max-width: 1280px;
    }
  }

  .article-preview {
    height: 100%;
    flex: 1;

    ::ng-deep {
      .markdown-body {
        //height: 100%;
      }
    }
  }

  .right-container {
    position: relative;

    .toc-container {
      width: 290px;
      flex-shrink: 0;
      background: #ffffff;
      margin-left: 16px;
      border-radius: 4px;
      position: fixed;

      .toc-title {
        padding: 20px 24px;
        position: relative;
        margin-bottom: 8px;

        h2 {
          margin-bottom: 0;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 26px;
          bottom: 0;
          background-color: #e4e6eb;
          height: 1px;
          width: 260px;
        }
      }

      .toc-menu-container {
        padding: 0 20px 10px 10px;
      }
    }

  }
}

.article-preview-bg {
  background-color: #f4f5f5;
  padding: 1rem;
  min-height: calc(100% - 56px);
}

.article-title-box {
  background-color: #ffffff;
  padding: .5rem 1rem;
  border-bottom: 1px solid #eaecef;

  .article-title {
    margin-bottom: 0.5rem;
  }

  .article-info {
    display: flex;

    > div {
      margin-right: .5rem;

      > span {
        margin-right: .25rem;
      }
    }
  }
}

:host .article-preview ::ng-deep {
  img {
    cursor: zoom-in;
  }
}

@media (width <= 1280px) {

  .article-preview-container .left-container {
    max-width: 100%;
  }

  .right-container {
    display: none;
  }

  .article-preview-bg {
    padding: 0;
  }

  .article-info {
    flex-direction: column;
  }

  :host .article-preview ::ng-deep {
    .markdown-body {
      padding: .75rem;

      img {
        width: 100%;
      }

      pre {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
      }

      p {
        margin: 0;
      }
    }
  }
}
